*{
    background-color: green;
}

.l1:hover{
    background-color: red;
    color: green;
}
table, td, th{
    border: 2px solid red;
}

input[type=text], select{
    display: inline-block;
    padding: 12px 20px;
}
